@page "/login"
@inject HttpClient http
@inject NavigationManager navigationManager
@inject IJSRuntime JsRuntime

<h3>Subscribe</h3>



<br />
<EditForm Model="@user" OnValidSubmit="@Register">
    <DataAnnotationsValidator />
    <table class="table">
        <tr>
            <td>
                <label>Email: </label>
            </td>
            <td>
                <InputText @bind-Value="@user.Email"></InputText>
                <ValidationMessage For="@(() => user.Email)" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Name: </label>
            </td>
            <td>
                <InputText @bind-Value="@user.Name"></InputText>
                <ValidationMessage For="@(() => user.Email)" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Password: </label>
            </td>
            <td>
                <InputText @bind-Value="@user.Password" type="password"></InputText>
                <ValidationMessage For="@(() => user.Password)" />
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <button style="background-color :#a83d0c" type="submit" class="btn btn-success">Register</button>
            </td>

        </tr>
        
    </table>
</EditForm>

@code {
    User user = new User();

   

    async Task Register()
    {

        try
        {
            
            await http.PostAsJsonAsync<User>($"api/User", user);
            navigationManager.NavigateTo("/products/"+user.Name);

        }
        catch (Exception ex)
        {
            

        }
    }

}
